body{

    color : red;
    
    background-color: lightpink;

}

.heading{

    width: 80%;

    font-size: 22px;

}

.objects{

    color :mediumpurple;

}

#camera , #result {

border : 2px dashed black;

width : 350px;

height : 300px;

}